
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
  font-size: 16px;
}
.error {
  color: red;
}
.text-left {
  text-align: left;
}
form {
  border: 1px solid #bbb;
  padding: 10px;
}
input {
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #ccc;
  outline: 0;
}
input.touched.invalid {
  border: 1px solid red;
}

.hello[data-v-4c68cce8] {
  border: 1px solid #ccc;
}
h1[data-v-4c68cce8], h2[data-v-4c68cce8] {
  font-weight: normal;
}
ul[data-v-4c68cce8] {
  list-style-type: none;
  padding: 0;
}
li[data-v-4c68cce8] {
  display: inline-block;
  margin: 0 10px;
}
a[data-v-4c68cce8] {
  color: #42b983;
}

.error {
  color: red;
}
